/*
Copyright (c) 2003-2013, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.md or http://ckeditor.com/license
*/

/*
editor_iequirks.css
===============

This file contains styles to used by all versions of Internet Explorer
in Quirks mode only.
*/

/* Base it on editor_ie.css, overriding it with styles defined in this file. */
@import url("editor_ie.css");

.cke_top,
.cke_contents,
.cke_bottom
{
	width: 100%; /* IE Quirks */
}

.cke_rtl .cke_toolgroup,
.cke_rtl .cke_toolbar_separator,
.cke_rtl .cke_button,
.cke_rtl .cke_button *,
.cke_rtl .cke_combo,
.cke_rtl .cke_combo *,
.cke_rtl .cke_path_item,
.cke_rtl .cke_path_item *
{
	float: none;
}

.cke_rtl .cke_toolbar_separator,
.cke_rtl .cke_combo_button,
.cke_rtl .cke_combo_button *,
.cke_rtl .cke_button,
.cke_rtl .cke_button_icon,
.cke_rtl .cke_button_arrow
{
	vertical-align: top;
	display: inline-block;
}

.cke_toolgroup,
.cke_combo_button,
.cke_combo_arrow,
.cke_button_arrow,
.cke_toolbox_collapser,
.cke_resizer
{
	background-image: url(images/sprites_ie6.png);
}

.cke_toolgroup
{
	background-color: #fff;
	display: inline-block;
	padding: 2px;
}

.cke_inner
{
	padding-top: 2px;
	background-color: #d3d3d3;
	background-image: none;
}

.cke_toolbar
{
	margin: 2px 0;
}
.cke_rtl .cke_toolbar
{
	margin-bottom: -1px;
	margin-top: -1px;
}

.cke_toolbar_separator
{
	vertical-align: top;
}

.cke_toolbox
{
	width: 100%;
	float: left;
	padding-bottom: 4px;
}

.cke_rtl .cke_toolbox
{
	margin-top: 2px;
	margin-bottom: -4px;
}

.cke_combo_button
{
	background-color: #fff;
}

.cke_rtl .cke_combo_button
{
	padding-right: 6px;
	padding-left: 0px;
}

.cke_combo_text
{
	line-height: 21px;
}

.cke_ltr .cke_combo_open
{
	margin-left: -3px;
}

.cke_combo_arrow
{
	background-position: 2px -1467px;
	margin: 2px 0 0;
	border: 0;
	width: 8px;
	height: 13px;
}
.cke_rtl .cke_button_arrow
{
	background-position-x: 0;
}

.cke_toolbox_collapser .cke_arrow
{
	display: block;
	visibility: hidden;
	font-size: 0;
	color: transparent;
	border: 0;
}

.cke_button_arrow
{
	background-position: 2px -1467px;
	margin: 0;
	border: 0;
	width: 8px;
	height: 15px;
}

.cke_ltr .cke_button_arrow
{
	background-position: 0 -1467px;
	margin-left: -3px;
}

.cke_toolbox_collapser
{
	background-position: 3px -1367px;
}
.cke_toolbox_collapser_min
{
	background-position: 4px -1387px; /* +4px +3px */
	margin: 2px 0 0;
}
.cke_rtl .cke_toolbox_collapser_min
{
	background-position: 4px -1408px;
}

.cke_resizer
{
	background-position: 0px -1427px;
	width: 12px;
	height: 12px;
	border: 0;
	margin: 9px 0 0;
	vertical-align: baseline;
}

.cke_dialog_tabs
{
	position: absolute;
	top: 38px;
	left: 0px;
}

.cke_dialog_body
{
	clear: both;
	margin-top: 20px;
}

a.cke_dialog_ui_button
{
	background: url(images/sprites.png) repeat_x 0 _ 1069px;
}

a.cke_dialog_ui_button:hover,
a.cke_dialog_ui_button:focus,
a.cke_dialog_ui_button:active
{
	background-position: 0 -1179px;
}

a.cke_dialog_ui_button_ok
{
	background: url(images/sprites.png) repeat_x 0 _ 1144px;
}

a.cke_dialog_ui_button_cancel
{
	background: url(images/sprites.png) repeat_x 0 _ 1105px;
}

a.cke_dialog_ui_button_ok span,
a.cke_dialog_ui_button_cancel span
{
	background-image: none;
}

.cke_menubutton_label
{
	height:25px;
}

.cke_menuarrow
{
	background-image: url(images/sprites_ie6.png);
}

.cke_menuitem .cke_icon,
.cke_button_icon,
.cke_menuitem .cke_disabled .cke_icon,
.cke_button_disabled .cke_button_icon
{
	filter: ;
}

.cke_menuseparator
{
	font-size: 0;
}

.cke_colorbox
{
	font-size: 0; /* Set minimal font size, so button won't be streched by the text that doesn't exist. */
}

.cke_source
{
	white-space: normal;
}
