/*
Copyright (c) 2003-2013, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.md or http://ckeditor.com/license
*/

/*
editor_ie.css
===============

This file contains styles to used by all versions of Internet Explorer only.
*/

/* Base it on editor.css, overriding it with styles defined in this file. */
@import url("editor.css");

.cke_button_off
{
	filter: alpha(opacity = 70);
}

.cke_button_on
{
	filter: alpha(opacity = 100);
}

.cke_button_disabled
{
	filter: alpha(opacity = 30);
}

.cke_button_off:hover,
.cke_button_off:focus,
.cke_button_off:active
{
	filter: alpha(opacity = 100);
}

.cke_hc .cke_button_arrow
{
	margin-top: 5px;
}

.cke_combo_inlinelabel
{
	filter: alpha(opacity = 70);
}

.cke_combo_button_off:hover .cke_combo_inlinelabel
{
	filter: alpha(opacity = 100);
}

/* Disabled combo button styles. */
.cke_combo_button_disabled .cke_combo_inlinelabel,
.cke_combo_button_disabled .cke_combo_open
{
	filter: alpha(opacity = 30);
}

.cke_toolbox_collapser
{
	border: 2px outset #efefef;
}

.cke_toolbox_collapser .cke_arrow
{
	margin: 0 1px 1px 1px;
}
.cke_toolbox_collapser.cke_toolbox_collapser_min .cke_arrow
{
	margin-left: 2px;
}

a.cke_path_item:hover,
a.cke_path_item:focus,
a.cke_path_item:active
{
	filter: alpha(opacity = 70);
}

.cke_resizer
{
	filter: alpha(opacity = 80);
}

.cke_hc .cke_resizer
{
	filter: none;
	font-size: 28px;
}

/* #3766 In the context menu, long labels with second level menu get wrapped */
.cke_menuarrow
{
	position: absolute;
	right: 2px;
}

.cke_rtl .cke_menuarrow
{
	position: absolute;
	left: 2px;
}
/* END #3766 */

/* This guarantees the gap between the footer buttons in RTL under IE8 (#9359) */
.cke_rtl .cke_dialog_footer_buttons .cke_dialog_ui_hbox_first
{
	padding-left: 10px !important;
}
